/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap"); */
* {
  outline: none;
}
.scrollbar-hidden,
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* margin: 0; */
  /* padding: 0; */
}
/* body {
  font-family: "Noto Sans", sans-serif;
} */
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://cn-gapis.0cdn.cn/g-fonts/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
